<header>
    <nav>
        <a id="a" href="/"><img id="icono" src="/favicon.ico" alt="Logo">Inicio |</a>
        <a id="a" href="/"><img id="icono" src="/favicon.ico" alt="Logo"><a id="a" href="/formulario">Ingreso de cliente |</a>
        <a id="a" target="_blank"href="https://www.facebook.com/marcos.9.de.julio/"><img id="icono" src="/images/facebook.png" alt="Logo Facebook">Facebook |</a>
        <a id="a" target="_blank"href="https://www.instagram.com/marcos.9.de.julio/"><img id="icono" src="/images/Instagram.png" alt="Logo Instagram">Instagram |</a>
        <a id="a" target="_blank" href="https://wa.me/+5493487526500"><img id="icono" src="/images/WhatsApp.png" alt="Logo WhatsApp">WhatsApp |</a>
    </nav>
</header>