<!DOCTYPE html>
<html lang="es">
<%- include("partials/head") %>

    <body>
        <div class="background-image">
            <div class="background-image-content">
                <%- include("partials/header") %>
                    <img id="banner" src="/images/Logotipo transparente solo blanco.png" alt="Logotipo" />
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d982.2309736171962!2d-59.01800245678624!3d-34.09980212125859!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bb0b5c29318539%3A0x32fe55e86c61d8cb!2sTaller%20de%20enmarcado%20%229%20de%20Julio%22!5e0!3m2!1ses-419!2sar!4v1717765383355!5m2!1ses-419!2sar"
                        width="90%" height="450" style="border: 0; margin: 5%" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </body>

</html>